{% extends 'tasks/base.html' %}

{% block title %}Create Task {% endblock %}

{% block content %}
<div class="col-md-offset-2 col-md-8">
    <h2>Create New Task</h2><hr>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
  </form>
</div>
{% endblock %}
