{% extends 'tasks/base.html' %}

{% block title %}Tasks {% endblock %}

{% block content %}
<div class="col-md-offset-2 col-md-8">
    <h2>Tasks</h2><br>
    {% if tasks %}
        {% for task in tasks %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Title: {{ task.title }}</h5>
                    <p class="card-text">
                        Description: {{ task.description }} <br>
                        Due Date: {{ task.due_date}} <br>
                        Created by: {{ task.user.username }}<br>
                    </p>
                </div>
            </div>
            <br><br>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
