{% extends 'tasks/base.html' %}
{% block title %}User Profile{% endblock %}

{% block content %}
<div class="col-md-offset-3 col-md-5">
    <h2>Your profile</h2><hr>
    {% if user %}
        <p>User Email: {{ user.email }} </p>
        <p>First Name: {{ user.first_name }} </p>
        <p>Last Name: {{ user.last_name }} </p>
    {% endif %}
{% endblock %}
