{% extends 'tasks/base.html' %}

{% block content %}

<div class="col-md-offset-3 col-md-5">
    <h2>Create Account</h2><hr>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="form-group">
            <button type="submit" class="btn btn-success">Signup</button>
        </div>
    </form>
</div>

{% endblock %}
